.loader {
    border: 4px solid rgb(168, 168, 168);
    border-radius: 50%;
    border-top: 4px solid rgb(3, 143, 96);
    position: fixed;
    left: 46.40%;
    top: 42%;
    z-index: 999;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 1s linear infinite;
    /* Safari */
    animation: spin 0.8s linear infinite, fadeOut 1s 3s;
}

.loadingBg {
    background: rgb(36, 41, 46);
    opacity: 1;
    width: 100%;
    z-index: 998;
    height: 100%;
    display: block;
    position: absolute;
    animation: fadeOut 1s 3s;
}

.loadingText {
    color: rgb(168, 168, 168);
    font-family: 'Titillium Web', sans-serif;
    font-weight: 100;
    font-size: 40px;
    letter-spacing: 3px;
    line-height: 30px;
    z-index: 998;
    position: fixed;
    left: 43.5%;
    top: 57%;
    opacity: 0;
    animation: pulse 1.5s ease-out infinite, fadeOut 1s 3s;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes pulse {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.2;
    }
}

@keyframes pulse {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.2;
    }
}