* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 100;
    font-size: 12px;
    line-height: 30px;
}

.bodyStyle {
    background-color: rgb(36, 36, 36);
}


/* INPUT TABLE FORMATING + CUSTOM INPUT COLORS */

.formInput {
    left: 5%;
    bottom: 25%;
    width: 320px;
    height: 570px;
    position: absolute;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(48, 59, 64);
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.30);
}

.inputTittle {
    color: rgb(242, 251, 255);
    font-family: 'Titillium Web', sans-serif;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 9px;
    font-size: 30px;
}

.formula {
    color: rgb(158, 173, 184);
    font-family: 'Crimson Text', serif;
    font-size: 22px;
    letter-spacing: 3px;
    margin-bottom: 10px;
}


/* User Input */

.inputAText {
    text-align: left;
    margin-left: 10%;
    font-size: 16px;
}

.input {
    background-color: rgb(34, 42, 46);
    border: 2px solid rgb(34, 42, 46);
    color: rgb(158, 173, 184);
    width: 250px;
    height: 40px;
    font-weight: 200;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 5px;
    text-align: left;
    font-size: 16px;
    outline: none;
}

.inputBText {
    text-align: left;
    margin-left: 10%;
    font-size: 16px;
}

.inputCText {
    text-align: left;
    margin-left: 10%;
    font-size: 16px;
}

.input:focus {
    border-radius: 10px;
    border: 2px solid rgb(79, 98, 107);
}

.botaoLimpar {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 3px;
    width: 250px;
    height: 40px;
    background-color: rgb(36, 36, 36);
    color: white;
    border-radius: 5px;
    border: none;
    outline: none;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 200;
    font-size: 17px;
    letter-spacing: 1px;
}

.botaoCalcular {
    margin-top: 7px;
    padding: 3px;
    width: 250px;
    height: 40px;
    background-color: rgb(36, 36, 36);
    color: white;
    border-radius: 5px;
    border: none;
    outline: none;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 200;
    font-size: 17px;
    letter-spacing: 1px;
}


/* Mudar de Cor */

.modoNoturno {
    display: absolute;
    text-align: center;
    align-content: center;
    margin-left: 140px;
}


/* Input Table Buttons */

.devCredits {
    margin-top: 18px;
    letter-spacing: 0.8px;
    font-size: 12px;
    font-weight: 100;
    color: rgb(170, 170, 170);
}


/* OUTPUT TABLE FORMATING + CUSTOM INPUT COLORS */

.outputDivision {
    width: 1100px;
    height: 700px;
    left: 35%;
    bottom: 20%;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.30);
}


/* Output Graph */

.graph {
    float: left;
    height: 100%;
    text-align: center;
    font-size: 72px;
    background-color: rgb(79, 98, 107);
    color: #292929;
    width: 66%;
}

.formOutput {
    float: right;
    height: 100%;
    background-color: rgb(48, 59, 64);
    width: 34%;
}

.tituloOutput {
    padding: 5px;
    margin-top: 20px;
    color: rgb(170, 170, 170);
    font-size: 30px;
    text-align: center;
}


/* Output Delta */


/*
.outputDelta {
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
}

.headerDelta {*
    display: inline;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid tomato;
}

.resultadoDelta {
    width: 100%;
    height: 500px;
    color: rgb(0, 255, 34);
    background-color: #292929;
    border-radius: 4px;
    font-size: 16px;
    padding: 15px;
    margin: 5px;
}


.outputX1 {}

.headerX1 {
    display: inline;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid rgb(255, 0, 200);
    background-color: rgba(255, 0, 0, 0.219);
    color: greenyellow;
}

.valorX1 {
    color: rgb(0, 255, 34);
    background-color: #292929;
    border-radius: 4px;
    font-size: 16px;
    padding: 15px;
    margin: 5px;
}

.outputX2 {}

.headerX2 {
    display: inline;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0.219);
    border: 2px solid rgb(255, 0, 157);
    color: greenyellow;
}

.valorX2 {
    color: rgb(0, 255, 34);
    background-color: #292929;
    border-radius: 4px;
    font-size: 16px;
    padding: 15px;
    margin: 5px;
}

.outputConjuntoSolucao {}

.headerConjuntoSolucao {
    color: rgb(0, 238, 255);
    font-size: 25px;
}

.valorConjuntoSolucao {
    color: rgb(0, 238, 255);
    border: 3px solid yellow;
    height: 40px;
    width: 500px;
    background-color: #292929;
    border-radius: 4px;
    font-size: 20px;
    padding: 20px;
    text-align: center;
} */


/* .resultadoDeltaTratado {} */

.headerDeltaTratado {
    color: rgb(158, 173, 184);
    display: inline;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
}

.outputDeltaTratado {
    margin: 20px;
}

.resultadoDeltaTratado {
    color: rgb(209, 13, 209);
    background-color: #292929;
    font-size: 16px;
    padding: 20px;
    border-radius: 5px;
}

.outputX1Tratado {
    margin: 20px;
}

.headerX1Tratado {
    color: rgb(158, 173, 184);
    display: inline;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
}

.valorX1Tratado {
    color: rgb(0, 255, 34);
    background-color: #292929;
    font-size: 16px;
    padding: 20px;
    border-radius: 5px;
}

.outputX2Tratado {
    margin: 20px;
}

.headerX2Tratado {
    color: rgb(158, 173, 184);
    display: inline;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
}

.valorX2Tratado {
    color: rgb(0, 255, 34);
    background-color: #292929;
    font-size: 16px;
    padding: 20px;
    border-radius: 5px;
}

.outputConjuntoSolucaoTratado {
    margin: 20px;
}

.headerConjuntoSolucaoTratado {
    color: rgb(158, 173, 184);
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.valorConjuntoSolucaoTratado {
    padding: 10px;
    color: rgb(0, 238, 255);
    height: 40px;
    background-color: #292929;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
}


/* Fim Output Delta */


/* TESTE */


/* Fim Output Conjunto Solução */