* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'gidoleregular';
    src: url('/bhaskara/assets/fonts/gidole-regular-webfont.woff2') format('woff2'), url('/bhaskara/assets/fonts/gidole-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 100;
    font-size: 12px;
    line-height: 30px;
}

.bodyStyle {
    background-color: rgb(87, 152, 158);
}


/* INPUT TABLE FORMATING + CUSTOM INPUT COLORS */

.formInput {
    left: 5%;
    bottom: 25%;
    width: 320px;
    height: 550px;
    position: absolute;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(255,255,255);
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.30);
}

.inputTittle {
    color: rgb(46, 46, 46);
    font-family: 'Titillium Web', sans-serif;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 9px;
    font-size: 30px;
}

.formula {
    color: rgb(69, 69, 69);
    font-family: 'Crimson Text', serif;
    font-size: 22px;
    letter-spacing: 3px;
}


/* User Input */
.inputAText{
    text-align: left;
    margin-left: 10%;
    font-size: 16px;
}
.inputA {
    background-color: rgb(245, 245, 245);
    border: 2px solid rgb(255, 255, 255);
    color:rgb(41, 41, 41);
    width: 250px;
    height: 40px;
    font-weight: 200;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 5px ;
    text-align: left;
    font-size: 16px;
}

.inputBText{
    text-align: left;
    margin-left: 10%;
    font-size: 16px;
}
.inputB {
    background-color: rgb(245, 245, 245);
    border: 2px solid rgb(255, 255, 255);
    color: rgb(41, 41, 41);
    width: 250px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: left;
    padding-left: 5px ;
    font-size: 16px;
    font-weight: 200;
}

.inputCText{
    text-align: left;
    margin-left: 10%;
    font-size: 16px;
}
.inputC {
    background-color: rgb(245, 245, 245);
    border: 2px solid rgb(255, 255, 255);
    color: rgb(41, 41, 41);
    width: 250px;
    height: 40px;
    font-weight: 200;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 5px ;
    text-align: left;
    font-size: 16px;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-family: 'Titillium Web', sans-serif;
    color: rgb(0, 0, 0);
}

::-moz-placeholder {
    /* Firefox 19+ */
    font-family: 'Titillium Web', sans-serif;
    color: rgb(0, 0, 0);
}

:-ms-input-placeholder {
    /* IE 10+ */
    font-family: 'Titillium Web', sans-serif;
    color: rgb(0, 0, 0);
}

:-moz-placeholder {
    /* Firefox 18- */
    font-family: 'Titillium Web', sans-serif;
    color: rgb(0, 0, 0);
}

:focus {
    border-radius: 10px;
    border: 1px solid green;
}

.botaoLimpar {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 3px;
    width: 250px;
    height: 40px;
    background: rgb(1,210,180);
    background: linear-gradient(90deg, rgba(1,210,180,1) 0%, rgba(0,178,214,1) 100%);
    color: white;
    border-radius: 5px;
    font-family: 'Titillium Web', sans-serif;   
    font-weight: 200;
    font-size: 17px;
    letter-spacing: 1px;
}

.botaoCalcular {
    margin-top: 7px;
    margin-bottom: 5px;
    padding: 3px;
    width: 250px;
    height: 40px;
    background: rgb(1,210,180);
    background: linear-gradient(90deg, rgba(1,210,180,1) 0%, rgba(0,178,214,1) 100%);
    color: white;
    border-radius: 5px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 200;
    font-size: 17px;
    letter-spacing: 1px;
}


/* Mudar de Cor */

.modoNoturno {
    display: absolute;
    text-align: center;
    align-content: center;
    padding: 1px;
    margin-left: 140px;
    margin-top: 5px;
    margin-bottom: 10px;
}


/* Input Table Buttons */

.devCredits {
    margin-top: 25px;
    letter-spacing: 3px;
    font-size: 13px;
    font-weight: 100;
    color: white;
}


/* OUTPUT TABLE FORMATING + CUSTOM INPUT COLORS */

.outputDivision {
    width: 1100px;
    height: 700px;
    left: 35%;
    bottom: 20%;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.30);
}

/* Output Graph */
.graph{
    
    float: left;
    height: 100%;
    text-align: center;
    font-size: 72px;
    background-color:rgb(141, 196, 201);
    width: 66%;
}

.formOutput{
    float: right;
    height: 100%;
    background-color:white;
    width: 34%;
}

/* Output Delta */

.outputDelta {
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
}

.headerDelta {
    display: inline;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid tomato;
}

.resultadoDelta {
    width: 100%;
    height: 500px;
    color: rgb(0, 255, 34);
    background-color: #292929;
    border-radius: 4px;
    font-size: 16px;
    padding: 15px;
    margin: 5px;
}
/*
.outputX1 {}

.headerX1 {
    display: inline;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid rgb(255, 0, 200);
    background-color: rgba(255, 0, 0, 0.219);
    color: greenyellow;
}

.valorX1 {
    color: rgb(0, 255, 34);
    background-color: #292929;
    border-radius: 4px;
    font-size: 16px;
    padding: 15px;
    margin: 5px;
}

.outputX2 {}

.headerX2 {
    display: inline;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0.219);
    border: 2px solid rgb(255, 0, 157);
    color: greenyellow;
}

.valorX2 {
    color: rgb(0, 255, 34);
    background-color: #292929;
    border-radius: 4px;
    font-size: 16px;
    padding: 15px;
    margin: 5px;
}

.outputConjuntoSolucao {}

.headerConjuntoSolucao {
    color: rgb(0, 238, 255);
    font-size: 25px;
}

.valorConjuntoSolucao {
    color: rgb(0, 238, 255);
    border: 3px solid yellow;
    height: 40px;
    width: 500px;
    background-color: #292929;
    border-radius: 4px;
    font-size: 20px;
    padding: 20px;
    text-align: center;
} */


.outputDeltaTratado {
    margin-top: 30px;
 }

.headerDeltaTratado { 
    font-size: 29px;
    text-align: center;
}

.resultadoDeltaTratado {
    
}


.outputX1Tratado {
    margin: 20px;
}

.headerX1Tratado {
    display: inline;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
}

.valorX1Tratado {
    color: rgb(0, 255, 34);
    background-color: #292929;
    font-size: 16px;
    padding: 20px;
    border-radius: 5px;
}


.outputX2Tratado {
    margin: 20px;
}

.headerX2Tratado {
    display: inline;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
}

.valorX2Tratado {
    color: rgb(0, 255, 34);
    background-color: #292929;
    font-size: 16px;
    padding: 20px;
    border-radius: 5px;
}


.outputConjuntoSolucaoTratado {
    margin: 20px;
}

.headerConjuntoSolucaoTratado {
    font-size: 25px;
}

.valorConjuntoSolucaoTratado {
    padding: 10px;
    color: rgb(0, 238, 255);
    height: 40px;
    background-color: #292929;
    border-radius: 4px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
}

/* Fim Output Delta */


/* TESTE */




/* Fim Output Conjunto Solução */